NEXT_PUBLIC_AGENT_API_URL=http://localhost:8787
NEXT_PUBLIC_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
NEXT_PUBLIC_POOL_ADDRESS=0x876A0741223EDdaE081Ef22beA513E92335B1Bd5
NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_PROJECT_ID=1
NEXT_PUBLIC_ROUND_ID=1
NEXT_PUBLIC_USDC_ADDRESS=0x1c7D4B196Cb0C7B01d743Fbc6116a902379C7238
NEXT_PUBLIC_CLAIM_MAX_AMOUNT=100
NEXT_PUBLIC_CAW_GUARD_TOKEN_ID=SETH_USDC
NEXT_PUBLIC_EVENT_LOOKBACK_BLOCKS=2000
